.wrapperSection{
    margin-bottom: 35px;
    padding: 8px;
    border: 1px solid #db63dd;
    border-radius: 4px;
    background-color: #f2f2f25e;
    width: 100%;
}




.elementMargin2{
    margin-left: 3px;
    width: 49%;
}


.elementMargin3{
    margin-left: 3px;
    width: 31%;
}


.devTesting{
    display: none;
}

.addpromotionresult{
    display: block;
}


.editpromotionresult{
    display: block;
}
.adddeterminant{
    display: block;
}

.addscopedeterminant{
    display: block;
}


.editpromotion{
    display: block;
}

.addappliedproduct{
    display: block;
}