.slds-notify
{
    background-color: #f09bfc;	 
    text-align: center;
    font-style: bold;

    
  }


  .slds-notify_alert
{
    background-color: #f09bfc;
    text-align: center;
    font-style: bold;

	 

  }



  .slds-alert_warning
{
    background-color: #f09bfc;	
    text-align: center;
    font-style: bold;


  }