/*Added BY RMA  */
.THIS .tab-style thead th span {
    background-color: #16325c !important;
    color: white;
    margin-left: 8px;
}

.wraperClass{
    border: 1px solid #5A245A;
}

.tab-style{
    zoom : 90%;
}


/*END OF RMA's ADDITION  */