.buttonhyperlinkClass{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}



.wraperClass{
    border: 1px solid #5A245A;
}



.slds-table th { 
    background-color: purple;
    color: white;
    }