.slds-scope .slds-radio .slds-radio__label,
.slds-scope .slds-checkbox .slds-checkbox__label{
    display: inline;
}

.slds-radio .slds-radio__label,
.slds-checkbox .slds-checkbox__label{
    display: inline;
}

.slds-progress.slds-progress_vertical.slds-p-vertical_medium{
pointer-events: none;
}